* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

header {
    background-color: maroon;
    padding: 5px 0px;
}

.H-flex {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    flex-direction: row;
}

.logo {
    width: 37%;
    color: white;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.logo img {
    max-width: 100%;
}

.content_logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.content_logo img {
    height: 100px;
    border-radius: 50%;
}

.content_logo h1 {
    font-size: 2.8rem;
    text-decoration: underline solid whitesmoke;
    margin-left: 10px;
}

.content_logo_1 {
    margin-top: 20px;
    letter-spacing: 1.5px;
}

.content_logo_1 img {
    height: 40px;
    max-width: 40px;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    left: 100px;
    margin-right: 20px;
}

.content_logo_1 p {
    font-size: 1.0rem;
    margin-bottom: 5px;
}

.design {
    text-decoration: underline solid white;
}

nav {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

nav ul {
    font-family: 'Merriweather', serif;
    list-style: none;
    font-weight: bolder;
}

nav ul li {
    display: inline-block;
    border-right: 2px solid gray;
    letter-spacing: 1.5px;
}

nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

nav ul li a:hover {
    border-bottom: 2px solid gray;
    transition: 2s;
}

.Bg-img {
    background-image: url("IMG/house.png");
    width: 100%;
    height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.title {
    margin: 20px;
}

.Bg-img h1 {
    color: black;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px wheat;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1rem;
}

.Bg_image3 {
    display: flex;
    justify-content: center;
}

.Bg_image3 img {
    width: 50%;
    height: 60px;
    border-radius: 50%;
}

.img1 {
    width: 10%;
    margin: 10px 50px;
}

.text {
    color: white;
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px maroon;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px 20px 0px 0px;
    font-size: 1.4rem;
    font-weight: 550;
}


/*  Service Page2*/

.Background_serve {
    background-image: url("IMG/house.png");
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.service_title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.service_title h1 {
    letter-spacing: 2px;
    text-shadow: 2px 2px wheat;
    color: black;
}

#line {
    border-bottom: 2px solid black;
}

.rows {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    flex-flow: wrap;
}

.column {
    width: 30%;
    border-radius: 5%;
    margin: 0px 25px;
}

.services {
    padding: 10px 20px;
    text-shadow: 2px 2px maroon;
    color: white;
}

.services img {
    display: block;
    max-width: 100%;
    height: 60px;
    margin: auto;
    border-radius: 50%;
}

.services h2 {
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0px;
}

.f ul li {
    font-size: 1.2rem;
    line-height: 1.5rem;
    list-style-position: inside;
    list-style-type: none;
}


/* footer */

footer {
    background-color: #302f2e;
    color: white;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

.content-footer {
    display: flex;
    justify-content: space-evenly;
}

.First_Branch {
    width: 35%;
    order: 1;
}

.branch1 ul {
    list-style: none;
    line-height: 1.7em;
}

.branch1 ul li {
    letter-spacing: 1px;
}

.Second_Branch {
    width: 35%;
    order: 2;
}

.branch2 ul {
    list-style: none;
    line-height: 1.7em;
}

.branch2 ul li {
    letter-spacing: 1px;
}

.branch_title {
    padding: 10px 0px;
    color: rgb(185, 24, 24);
}

.Copyright {
    margin: 10px auto;
    text-align: center;
    line-height: 1.2rem;
    color: grey;
}

.Copyright .name {
    color: rgb(185, 24, 24);
}

.branch1 i {
    background-color: rgb(185, 24, 24);
    padding: 10px;
    margin: 5px 10px;
    width: 40px;
    text-align: center;
}

.branch2 i {
    background-color: rgb(185, 24, 24);
    padding: 10px;
    margin: 5px 10px;
    text-align: center;
    width: 40px;
    height: auto;
}

@media screen and (min-width: 1025px) {
    .Bg-img {
        background-image: url("IMG/house.png");
        width: 100%;
        height: 80vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .title {
        margin: 95px;
    }
    .Bg-img h1 {
        color: black;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 10px;
        text-shadow: 2px 2px wheat;
        font-family: 'Merriweather';
        letter-spacing: .1rem;
    }
    .Bg_image3 {
        display: flex;
        justify-content: center;
    }
    .Bg_image3 img {
        width: 50%;
        height: 60px;
        border-radius: 50%;
    }
    .img1 {
        width: 10%;
        margin: 10px 50px;
    }
    .text {
        color: white;
        font-family: 'Merriweather', serif;
        text-shadow: 2px 2px maroon;
        letter-spacing: 1px;
        text-align: left;
        padding: 10px 20px 0px 0px;
        font-size: 1.4rem;
        font-weight: 550;
    }
    .Background_serve {
        background-image: url("IMG/house.png");
        width: 100%;
        height: 60vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .service_title {
        text-align: center;
        font-family: 'Merriweather', sans-serif;
    }
    .service_title h1 {
        letter-spacing: 2px;
        text-shadow: 2px 2px wheat;
        color: black;
    }
    #line {
        border-bottom: 2px solid black;
    }
    .rows {
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        flex-flow: wrap;
    }
    .column {
        width: 30%;
        border-radius: 5%;
        margin: 0px 25px;
    }
    .services {
        padding: 10px 20px;
        text-shadow: 2px 2px maroon;
        color: white;
    }
    .services img {
        display: block;
        max-width: 100%;
        height: 60px;
        margin: auto;
        border-radius: 50%;
    }
    .services h2 {
        text-align: center;
        letter-spacing: 2px;
        padding: 10px 0px;
    }
    .f ul li {
        font-size: 1.5rem;
        line-height: 1.9rem;
        list-style-position: inside;
        list-style-type: none;
    }
}

@media screen and (max-width:1024px) and (min-width: 900px) {
    .Bg-img {
        background-image: url("IMG/house.png");
        width: 100%;
        height: 50vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .title {
        margin: 50px;
    }
    .Bg-img {
        height: 70vh;
    }
    .Bg-img h1 {
        color: black;
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 10px;
        text-shadow: 2px 2px wheat;
        font-family: 'Merriweather';
        letter-spacing: .1rem;
    }
    .Background_serve {
        background-image: url("IMG/house.png");
        width: 100%;
        height: 50vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .Background_serve {
        background-image: url("IMG/house.png");
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .service_title {
        text-align: center;
        font-family: 'Merriweather', sans-serif;
    }
    .service_title h1 {
        letter-spacing: 2px;
        text-shadow: 2px 2px wheat;
        color: black;
    }
    #line {
        border: none;
    }
    .rows {
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        flex-flow: wrap;
    }
    .column {
        width: 30%;
        border-radius: 5%;
        margin: 0px 25px;
    }
    .services {
        padding: 10px 20px;
        text-shadow: 2px 2px maroon;
        color: white;
    }
    .services img {
        display: block;
        max-width: 100%;
        height: 60px;
        margin: auto;
        border-radius: 50%;
    }
    .services h2 {
        text-align: center;
        letter-spacing: 2px;
        padding: 10px 0px;
    }
    .f ul li {
        font-size: 1.2rem;
        line-height: 1.5rem;
        list-style-position: inside;
        list-style-type: none;
    }
}

@media screen and (max-width:899px) and (min-width: 641px) {
    .H-flex {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        flex-direction: row;
    }
    .logo {
        width: 42%;
        color: white;
        font-family: 'Oswald', sans-serif;
        position: relative;
    }
    .content_logo {
        padding-left: 5px;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .content_logo img {
        height: 100px;
        max-width: 100px;
        border-radius: 50%;
    }
    .content_logo h1 {
        font-size: 2rem;
        text-decoration: underline solid whitesmoke;
        margin-left: 10px;
    }
    .content_logo_1 {
        margin-top: 20px;
        letter-spacing: 0px;
    }
    .content_logo_1 img {
        height: 40px;
        max-width: 40px;
        border-radius: 50%;
        position: relative;
        margin-top: 10px;
        left: 30px;
        margin-right: 20px;
    }
    .content_logo_1 p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .design {
        text-decoration: underline solid white;
    }
    nav {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    nav ul {
        font-family: 'Merriweather', serif;
        list-style: none;
        font-weight: bolder;
    }
    nav ul li {
        display: inline-block;
        border-right: 2px solid gray;
        letter-spacing: 1.5px;
    }
    nav ul li a {
        display: block;
        color: black;
        text-decoration: none;
        font-size: .9rem;
        padding: 5px;
    }
    nav ul li a:hover {
        border-bottom: 2px solid gray;
        transition: 2s;
    }
    .title {
        margin: 40px;
    }
    .Bg-img h1 {
        color: black;
        text-align: center;
        font-size: 2.1rem;
        margin-bottom: 15px;
        text-shadow: 2px 2px wheat;
        font-family: 'Merriweather';
        letter-spacing: .1rem;
    }
    .Bg_image3 img {
        max-width: 100%;
        height: 50px;
        border-radius: 50%;
    }
    .Bg_image3 {
        display: inline-flex;
        justify-content: center;
    }
    .img1 {
        width: 10%;
        margin: 0px 50px;
    }
    .text {
        color: white;
        font-family: 'Merriweather', serif;
        text-shadow: 2px 2px maroon;
        letter-spacing: 0px;
        text-align: left;
        padding: 10px 0px 0px 0px;
        font-size: 1.2rem;
        font-weight: 550;
    }
    .Background_serve {
        background-image: url("IMG/house.png");
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .service_title {
        text-align: center;
        font-family: 'Merriweather', sans-serif;
    }
    .service_title h1 {
        letter-spacing: 2px;
        text-shadow: 2px 2px wheat;
        color: black;
    }
    #line {
        border: none;
    }
    .rows {
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        flex-flow: wrap;
    }
    .column {
        width: 40%;
        border-radius: 5%;
        margin: 0px 25px;
    }
    .services {
        padding: 20px 20px;
        text-shadow: 2px 2px maroon;
        color: white;
    }
    .services img {
        display: block;
        max-width: 100%;
        height: 60px;
        margin: auto;
        border-radius: 50%;
    }
    .services h2 {
        text-align: center;
        letter-spacing: 2px;
        padding: 10px 0px;
    }
    .f ul li {
        font-size: 1.2rem;
        line-height: 1.4rem;
        list-style-position: inside;
        list-style-type: none;
    }
    /* footer */
    footer {
        background-color: #302f2e;
        color: white;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
    }
    .content-footer {
        display: flex;
        justify-content: space-around;
    }
    .First_Branch {
        width: 48%;
        order: 1;
    }
    .branch1 ul {
        list-style: none;
        line-height: 1.7em;
    }
    .branch1 ul li {
        letter-spacing: 1px;
    }
    .Second_Branch {
        width: 47%;
        order: 2;
    }
    .branch2 ul {
        list-style: none;
        line-height: 1.7em;
    }
    .branch2 ul li {
        letter-spacing: 1px;
    }
    .branch_title {
        padding: 10px 0px;
        color: rgb(185, 24, 24);
    }
    .Copyright {
        margin: 10px auto;
        text-align: center;
        line-height: 1.2rem;
        color: grey;
    }
    .Copyright .name {
        color: rgb(185, 24, 24);
    }
    .branch1 i {
        background-color: rgb(185, 24, 24);
        padding: 10px;
        margin: 5px 10px;
        width: 40px;
        text-align: center;
    }
    .branch2 i {
        background-color: rgb(185, 24, 24);
        padding: 10px;
        margin: 5px 10px;
        text-align: center;
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width: 640px) and (min-width: 450px) {
    .H-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        width: 100%;
        position: static;
    }
    .content_logo {
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .content_logo img {
        height: 80px;
        max-width: 80px;
        border-radius: 50%;
    }
    .content_logo h1 {
        font-size: 2.2rem;
        text-decoration: underline solid whitesmoke;
        margin: 0;
    }
    .content_logo_1 {
        margin-top: 10px;
        text-align: center;
    }
    .content_logo_1 img {
        height: auto;
        max-width: 40px;
        border-radius: 50%;
        position: relative;
        margin: 10px 10px 0px;
        left: 15px;
    }
    .title {
        margin-top: 40px;
    }
    nav {
        margin: 10px 0px;
    }
    nav ul li {
        letter-spacing: 0.9px;
        font-weight: 550;
    }
    nav ul li a {
        font-size: 0.8rem;
        padding: 8px;
    }
    .Bg-img {
        height: auto;
    }
    .Bg-img h1 {
        color: black;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
        text-shadow: 2px 2px wheat;
        font-family: 'Merriweather', serif;
    }
    .Bg_image3 img {
        height: auto;
        width: 80%;
    }
    .img1 {
        max-width: 10%
    }
    .text {
        color: white;
        font-family: 'Merriweather', serif;
        text-shadow: 2px 2px maroon;
        letter-spacing: 1px;
        text-align: left;
        padding: 0px 20px 0px 0px;
        font-size: 1.2rem;
        font-weight: 550;
    }
    .Background_serve {
        background-image: url("IMG/house.png");
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .service_title {
        text-align: center;
        font-family: 'Merriweather', sans-serif;
    }
    .service_title h1 {
        letter-spacing: 2px;
        text-shadow: 2px 2px wheat;
        color: black;
    }
    #line {
        border-bottom: none;
    }
    .rows {
        display: flex;
        flex-wrap: wrap row;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
    }
    .column {
        width: 45%;
        margin: 0px 10px;
    }
    .services {
        padding: 10px 2px;
        text-shadow: 2px 2px maroon;
        color: white;
    }
    .services img {
        display: block;
        max-width: 100%;
        height: 50px;
        margin: 10px auto;
        border-radius: 50%;
    }
    .services h2 {
        text-align: center;
        letter-spacing: 1px;
        padding: 0px;
    }
    .f ul li {
        font-size: 1.2rem;
        line-height: 1.9rem;
        list-style-position: unset;
        text-align: center;
    }
    /* footer */
    footer {
        background-color: #302f2e;
        color: white;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
    }
    .content-footer {
        display: flex;
        justify-content: space-between;
    }
    .First_Branch {
        width: 47%;
        order: 1;
    }
    .branch1 ul {
        list-style: none;
        line-height: 1em;
        font-size: .7em;
    }
    .branch1 ul li {
        letter-spacing: 0px;
    }
    .Second_Branch {
        width: 47%;
        order: 2;
    }
    .branch2 ul {
        list-style: none;
        line-height: 1em;
        font-size: .7em;
    }
    .branch2 ul li {
        letter-spacing: 1px;
    }
    .branch_title {
        padding: 10px 0px;
        color: rgb(185, 24, 24);
        font-size: 1.2em;
        text-align: center;
    }
    .Copyright {
        margin: 10px auto;
        text-align: center;
        line-height: 1.2rem;
        color: grey;
    }
    .Copyright .name {
        color: rgb(185, 24, 24);
    }
    .branch1 i {
        background-color: rgb(185, 24, 24);
        padding: 5px;
        margin: 5px 5px;
        width: 30px;
        text-align: center;
    }
    .branch2 i {
        background-color: rgb(185, 24, 24);
        padding: 5px;
        margin: 5px 5px;
        text-align: center;
        width: 30px;
        height: auto;
    }
}

@media screen and (max-width:449px) {
    .H-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .logo {
        width: 100%;
        position: static;
    }
    .content_logo {
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .content_logo img {
        height: 50px;
        max-width: 50px;
        border-radius: 50%;
    }
    .content_logo h1 {
        font-size: 1.5rem;
        text-decoration: underline solid whitesmoke;
        margin: 0;
    }
    .content_logo_1 {
        margin-top: 10px;
        text-align: center;
    }
    .content_logo_1 img {
        height: auto;
        max-width: 30px;
        border-radius: 50%;
        position: relative;
        margin: 5px 10px 0px;
        left: 15px;
    }
    .content_logo_1 p {
        font-size: .8rem;
        margin-bottom: 5px;
    }
    .title {
        margin-top: 30px;
    }
    nav {
        margin: 5px 0px;
    }
    nav ul li {
        letter-spacing: 0.9px;
        font-weight: 510;
    }
    nav ul li {
        display: block;
        border: none;
        letter-spacing: 1.5px;
    }
    nav ul li a {
        display: block;
        color: black;
        text-decoration: none;
        font-size: .74rem;
        padding: 10px;
    }
    nav ul li a:hover {
        border: none;
        transition: 2s;
        text-decoration: underline;
    }
    .Bg-img {
        height: auto;
    }
    .Bg-img h1 {
        color: black;
        text-align: center;
        font-size: 1.5rem;
        margin: 45px 0px;
        text-shadow: 2px 2px wheat;
        font-family: 'Merriweather';
        letter-spacing: .1rem;
        line-height: 2rem;
    }
    .Bg_image3 {
        display: flex;
        justify-content: center;
    }
    .Bg_image3 img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .img1 {
        width: 20%;
        margin: 20px 20px;
    }
    .text {
        color: white;
        font-family: 'Merriweather', serif;
        text-shadow: 2px 2px maroon;
        letter-spacing: 0px;
        text-align: left;
        padding: 10px 0px 0px 0px;
        font-size: .8em;
        font-weight: 550;
    }
    .Background_serve {
        background-image: url("IMG/house.png");
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .service_title {
        text-align: center;
        font-family: 'Merriweather', sans-serif;
    }
    .service_title h1 {
        letter-spacing: 2px;
        text-shadow: 2px 2px wheat;
        color: black;
    }
    #line {
        border: none;
    }
    .rows {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Oswald', sans-serif;
        flex-flow: wrap column;
    }
    .column {
        width: 80%;
        margin: 0px 10px;
    }
    .services {
        padding: 10px 20px;
        text-shadow: 2px 2px maroon;
        color: white;
    }
    .services img {
        display: block;
        max-width: 100%;
        height: 60px;
        margin: 10px auto;
        border-radius: 50%;
    }
    .services h2 {
        text-align: center;
        letter-spacing: 2px;
        padding: 0px;
    }
    .f ul li {
        font-size: 1.1rem;
        line-height: 2rem;
        list-style-position: unset;
        text-align: center;
    }
    /* footer */
    footer {
        background-color: #302f2e;
        color: white;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
    }
    .content-footer {
        display: flex;
        flex-flow: wrap column;
        align-content: center;
        justify-content: space-between;
    }
    .First_Branch {
        width: 100%;
        order: 1;
    }
    .branch1 ul {
        list-style: none;
        line-height: 1em;
        font-size: .7em;
    }
    .branch1 ul li {
        letter-spacing: 0px;
    }
    .Second_Branch {
        width: 100%;
        order: 2;
    }
    .branch2 ul {
        list-style: none;
        line-height: 1em;
        font-size: .7em;
    }
    .branch2 ul li {
        letter-spacing: 1px;
    }
    .branch_title {
        padding: 10px 0px;
        color: rgb(185, 24, 24);
        font-size: 1.2em;
        text-align: center;
    }
    .Copyright {
        margin: 10px auto;
        text-align: center;
        line-height: 1.2rem;
        color: grey;
    }
    .Copyright .name {
        color: rgb(185, 24, 24);
    }
    .branch1 i {
        background-color: rgb(185, 24, 24);
        padding: 5px;
        margin: 5px 5px;
        width: 30px;
        text-align: center;
    }
    .branch2 i {
        background-color: rgb(185, 24, 24);
        padding: 5px;
        margin: 5px 5px;
        text-align: center;
        width: 30px;
        height: auto;
    }
}